@property --color-primary-lighter {
    syntax: '<color>';
    inherits: true;
    initial-value: #d7fb4d;
}

@property --color-primary {
    syntax: '<color>';
    inherits: true;
    initial-value: #c6eb4d;
}

@property --color-primary-darker {
    syntax: '<color>';
    inherits: true;
    initial-value: #015a57;
}

@property --color-primary-darkest {
    syntax: '<color>';
    inherits: true;
    initial-value: #111928;
}

@property --color-secondary {
    syntax: '<color>';
    inherits: true;
    initial-value: #f7f8fa;
}

@property --color-secondary-darker {
    syntax: '<color>';
    inherits: true;
    initial-value: #637381;
}

@property --color-track {
    syntax: '<color>';
    inherits: true;
    initial-value: #015a57;
}

@property --color-shadow {
    syntax: '<color>';
    inherits: true;
    initial-value: #a6afc366;
}

html {
    scroll-behavior: smooth;
}

:root {
    font-family: 'Inter';
    color: var(--color-primary-darkest);
}

:memerender {
    font-family: 'Inter';
    color: var(--color-primary-darkest);
}

.section-container h3 {
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.section-container h4 {
    margin-bottom: -1rem;
}

.section-container h5 {
    color: var(--color-primary); /* Dark gray for readability */
    font-weight: 600;
    font-size: 1rem;
    line-height: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: -0.5rem;
}

/* Body text */
.section-container p {
    color: var(--color-secondary-darker); /* Dark gray for readability */
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
}

/* List items */
.section-container ul li {
    color: var(--color-secondary-darker); /* Same as body text */
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
}

.section-container .markdown img {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.section-container .layout-single-default img {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.section-container ::marker {
    color: var(--color-primary-darker);
}


/* A full-width styling container with a centered content area. */
.section-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* An attention-capturing section container. */
.section-container--highlighted {
    background-color: var(--color-primary);
    color: white;
}

/* An non-attention-capturing section container. */
.section-container--dimmed {
    background-color: var(--color-secondary);
}

.section {
    width: 100%;
    padding: 3.125rem 2rem;
    box-sizing: border-box;
}

/* CTA section */
.cta-section__heading {
    color: var(--color-secondary);
}

.cta-section__subheading {
    color: var(--color-secondary);
}

.cta-section .cta-section__message {
    color: var(--color-secondary);
}

@media (width > 1250px) {
    .section {
        width: 1250px;
    }
}

@media (width <= 576px) {
    .section {
        padding: 1rem;
    }
}

.section--long {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

@media (width <= 576px) {
    .section--long {
        padding-top: 3.75rem;
        padding-bottom: 3.75rem;
    }
}

.section--short {
    padding-top: 1.625rem;
    padding-bottom: 1.625rem;
}

@media (width <= 576px) {
    .section--short {
        padding-top: 1.375rem;
        padding-bottom: 1.375rem;
    }
}

/**
 * .sr-only
 *
 * Purpose:
 * The .sr-only class is designed to hide elements visually while keeping them accessible to screen readers.
 * This ensures that additional content or context can be provided to users with assistive technologies
 * without disrupting the visual design of the page.
 *
 * Usage:
 * - Apply this class to elements that should only be accessible via screen readers, such as additional
 *   descriptions, instructions, or labels meant for assistive technology users.
 */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}



.sponsor-card-platinum {
    /*--color-primary: #e5e4e2;*/
    width: 28.875rem;
    height: 16.875rem;
    padding: 0.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center content vertically and horizontally */
    border-radius: 0.3125rem;
    border: 0.0625rem solid var(--color-primary);
    /*box-shadow:
        0 0 20px 5px var(--color-primary),
        0 0.0625rem 0.1875rem var(--color-shadow);*/
    transition: box-shadow 0.3s ease;
}

.sponsor-card-gold {
    /*--color-primary: gold;*/
    width: 24.875rem;
    height: 16.875rem;
    padding: 0.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center content vertically and horizontally */
    border-radius: 0.3125rem;
    border: 0.0625rem solid var(--color-primary);
    /*box-shadow:
        0 0 10px 2px var(--color-primary),
        0 0.0625rem 0.1875rem var(--color-shadow);*/
    transition: box-shadow 0.3s ease;
}

.sponsor-card-silver {
    /*--color-primary: lightgray;*/
    width: 20.875rem;
    height: 16.875rem;
    padding: 0.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center content vertically and horizontally */
    border-radius: 0.3125rem;
    border: 0.0625rem solid var(--color-primary);
    /*box-shadow:
        0 0 8px 2px var(--color-primary),
        0 0.0625rem 0.1875rem var(--color-shadow);*/
    transition: box-shadow 0.3s ease;
}

.sponsor-card:hover {
    box-shadow:
        0 0 0 0.1875rem var(--color-primary),
        0 0.0625rem 0.1875rem var(--color-shadow);
}

.sponsor-card__link {
    all: unset;
    display: flex;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.sponsor-card__logo {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Scale logo to fit within its container */
}
